{% extends '_base.html' %} {% block content %}
<a href="{% url 'userproductcreate' %}" class="btn btn-primary">Заказ</a>
<div class="container">
  <div class="row">
    <div class="col-md-6">
    {% for userproduct in userproducts %}
    
      {% if userproduct.want == 'BU' %}
      <div class="card" style="background-color: rgb()">
        <div class="card-header">
          <a href="#" class="btn btn-primary">{{ products.title }}</a>
          <a href="#" class="btn btn-primary">BUY</a>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text", style="color:black">{{ userproduct.price }}</p>
          <a href="#" class="btn btn-primary">
            Quantity - {{ userproduct.quantity }}</a
          >
          <a href="#" class="btn btn-primary">{{ userproduct.user }}</a>
          
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
    


    <div class="col-md-6">
        {% for userproduct in userproducts %}
        
          {% if userproduct.want == 'SL' %}
          <div class="card" style="background-color: rgb()">
            <div class="card-header">
              <a href="#" class="btn btn-primary">{{ products.title }}</a>
              <a href="#" class="btn btn-primary">SELL</a>
            </div>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">{{ userproduct.price }}</p>
              <a href="#" class="btn btn-primary">
                Quantity - {{ userproduct.quantity }}</a
              >
              <a href="#" class="btn btn-primary">{{ userproduct.user }}</a>
            </div>
          </div>
          {% endif %} {% endfor %}
        </div>
  </div>
  
</div>
{% endblock %}